__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

.ipynb_checkpoints/
*.ipynb_checkpoints

.vscode/

.idea/


*.log
logs/
work/

.DS_Store
Thumbs.db

dist/
build/
*.egg-info/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.cache/

.env
.env.*

*.sqlite3
*.db

*.md
